*{box-sizing: border-box}

body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.icon{
    width: 40px;
    height: 40px;
    color: gold;
    border-radius: 50%;
    border: 1px gold solid;
}
.divide{
    width: 1.2px;
    height: 14px;
    margin-bottom: -2px;
    display: inline-block;
    background: black;
}

button{
    line-height: 8px;
    color: white;
    padding: 15px;
    background: black;
    border-radius: 10px;
    border: none;
    display: block;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.clear{clear: both;}
/* nav start  */
nav{
    width: 100%;
    background: gold;
    padding: 5px 18%;
    position: relative;

}
nav .hidden{display: none}
nav .fa-bars{
    cursor: pointer;
    position: absolute;
    font-size: 26px;
    display: none;
    left: 4%;
    top: 13%;
}
nav .info{
    /*width: 42%;*/
    text-align: right;
    font-size: 13px;
}
nav .info span{
    margin-left: 10px;
}
nav .row{clear: right;
    height: 100%;}
nav .row>div{
    vertical-align: center;
    display: inline-block;
}
nav .logo h1,.menu h1{
    color: white;
    font-size: 42px;
    margin: 0 auto 5px;
    cursor: pointer;
}
nav .logo h1 span,.menu  h1 span{
    display: inline-block;
    position: relative;
    color: black;
}
nav .logo h1 span:before,.menu  h1 span:before{
    position: absolute;
    content: "";
    left: 46.6%;
    top: 16%;
    border: 3.7px white solid;
    border-radius: 50%;
}
nav  .loc{
    text-align: right;
    font-size: 14px;
    margin-top: -10px;
    /*margin-bottom: -17%;*/
}
nav  .loc >div{display: inline-block}
nav  .loc h6{
    margin: 3px auto;
    font-size: 13px;
    margin: 0;
}
nav .loc a{
    color: black;
}
nav .loc .fa-map-marker{
    height: 60px;
    color: white;
    font-size: 30px;
    margin:0 5px ;
    display: inline-block;
}
nav .links,nav .join{
    margin-top: 18px;
    vertical-align: top}
nav .links a,.menu a{
    color: white;
    margin:auto 5px;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
}
nav .links .last a{
    font-weight:normal;
    font-size: 13px;
    margin-bottom: 5px;
    text-decoration: underline;
}
nav .links a.active,.menu a.active{
    font-weight: 600;
    color: black}
nav .links .search{
    width: 100%;
    height: 35px;
    color: #ccc;
    background: white;
    border-radius: 10px;
    line-height: 35px;
    margin: 10px 0 5px;
}
nav .links .search .fa{
    margin-left: 10px;
    display: inline-block;
}
nav .links .search input{
    outline: none;
    border: none;
    margin-left: 3px;
}
nav .join{
    text-align: right;
    margin-left: 25px;
    overflow: hidden;
}
nav .join a{
    color: black;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}
nav .join button{
    width: 110px;
    /*height: 34px;*/
    color: white;
    background: black;
    border-radius: 10px;
    font-size: 15px;
    display: block;
    margin-top: 10px;
}
nav .join button:hover{
    background:transparent;
    color: black;
    border: 2px solid black;
}
nav  .last-loc{display: none}
nav  .last-loc .fa{font-size: 20px}
nav  .last-loc h5,
nav  .last-loc a{
    color: black;
    font-weight: 400;
    font-size: 14px;
    display: inline-block}
/* nav end  */

/*menu start*/
.menu{
    position: absolute;
    width: 220px;
    padding: 12px ;
    background: #052a43;
    z-index: 5;
    left: -220px;
    transition: all 0.7s ease-in-out;
}
.menu #close{
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 7px;
    top: 7px;
    color: goldenrod;
}
.menu .fa{font-size: 28px}
.menu a{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}
/*menu end*/

/*head start*/
header{
    background: #104060;
    text-align: center;
    height: 30px;
    line-height:30px;
}
header .divide{background: white}
header a{
    color: white;
    text-decoration: none;
}
/*head end */

/*slider start */
.slider{
    padding: 50px 0;
    background: #052a43;
}
.slider .center{
    width: 55%;
    margin: 10px auto;
}
.slider p{
    line-height: 27px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.slider p:last-of-type{
    line-height: 20px;
    color: gold}
.slider button{
    background: gold;
    color: #052a43;
    border-radius: 6px;
}
.slider button:hover{
    background:transparent;
    color: gold;
    border: 2px solid gold;
}
.slider .text,.slider .discount{
    margin-bottom: 20px;
    display: inline-block;
}
.slider .text{text-align: left}
.slider .discount{
    z-index: 2;
    width: 250px;
    height: 210px;
    margin-left: 25%;
    padding: 10px;
    background: gold;
    position: relative;
    border-radius: 50%;
    text-align: center;
    transform: rotateZ(-5deg);
}
.slider .discount:after{
    transform: rotateZ(-20deg);
    border-radius: 50%;
    position: absolute;
    content: "";
    bottom:-20px;
    z-index: -1;
    left:0;
    border: 110px transparent solid;
    border-bottom-color:gold ;
    border-left-color:gold ;

}
.slider .discount h2{
    transform: rotateZ(5deg);
    font-weight: bold;
    font-size: 60px;
}
.slider .discount h2{
    margin-bottom: 0;
    color: white;}
.slider .discount h2:last-child{
    color: #052a43;
    margin-top: -15px;
    margin-right: -30%
}
.slider .bullets{
    text-align: center;
}
.slider .bullets span{
    margin: 8px;
    width: 6px;
    height:6px;
    border-radius: 3px;
    background: white;
    display: inline-block;
}
.slider .bullets span.active{
    width: 25px;
    background: gold;
}
/*slider end */

/*choose start */
.choose{
    width: 56%;
    padding: 10px 6%;
    margin: -40px auto 10px;
    background: white;
    border-radius: 36px;
    box-shadow: 2px 2px 2px #ddd;
}
.choose h2{
    text-align: center;
    margin: 4px auto 8px}
.choose .flex> div{
    width: 45px;
    font-size: 13px;
}
.choose .icon{
    width: 48px;
    height: 48px;
    padding: 10px;
}
.choose .fa{font-size: 24px}
.choose .active{
    color: black;
    background: gold;
}
/*choose end  */

/*offers start*/
.offers{
    width: 75%;
    margin: 40px auto;
}
.offers h3{margin-bottom: 4px}
.offers p{color: #888;}
.offers .box{
    width: 30%;
    float: left;
    margin:15px 1.5% ;
    text-align: center;
    overflow: hidden;
}
.offers .box .img{
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.offers .box img{
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition: all 0.6s ease-in-out;
}
.offers .box img:hover{
    transform: scale(1.3);
}
.offers .box h5{margin: 4px auto}
.offers .box span{
    color: grey;
    font-size: 14px;
}
/*offers end */

/*services start */
.services{
    width: 100%;
    margin:  auto;
    padding:30px 6% ;
    background: #eee;
    text-align: center;
}
.services .box {
    display: inline-block;
    max-width: calc(75% /4);
    vertical-align:top;
    margin: 1%;
    text-align: left;
    color:#666;
}
.services .img {
    width: 100%;
    height:  160px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.services .img1{ background: url("imgs/clean1.jpg");}
.services .img2{ background: url("imgs/clean3.jpg");}
.services .img3{ background: url("imgs/clean2.jpg");}
.services .img4{ background: url("imgs/clean1.jpg");}

.services .img button{
    display: inline-block;
    min-width: 90px;
    right: 6px;
    bottom: -6px;
    width: 35%;
    color: black;
    background:rgba(220,200,0,0.5) ;
    font-size: 14px;
    position: absolute;
    border-radius: 38px;

}

.services button{
    /*width: 120px;*/
    color: black;
    font-size: 13px;
    font-weight: 600;
    margin: 10px auto;
    background: gold;
    border-radius: 38px;
}
.services button:not(.img button):hover{
    background:transparent;
    color:gold;
    border: 1px solid gold;
}
 h2 span{color: gold;}

/*services end */

/*register start */
.register{display: table-cell}
.register >div{
    width: 50%;
    padding: 76px 5%;
    display: table-cell;
}

.register >div:first-child{
    background: #052a43;
    padding-left: 13%;
    color: white;
}
.register >div:last-child{
    background: gold;
    padding-right:13%;
}
.register h3{margin-bottom: 3px}
.register >div:first-child h3{color: gold}
.register img{
    width: 110px;
    height: 110px;
    margin-right: 12px;
    display: inline-block;
    border-radius: 50%;
}
.register .box div{
    width: 50%;
    display: inline-block;
}
/*register end */
/*why start*/
.why{
    width: 70%;
    margin: 60px auto;
    text-align: center;
}
.why .flex >div{
    margin:auto 2% ;
}
.why .icon{
    width: 100px;
    height: 100px;
    margin: auto ;
    background: gold;
    padding: 20px;
}
.why .icon .fa{
    -webkit-text-stroke: 0.1px black;
    display: block;
    margin: auto;
    font-size: 55px;
    color: black}
.why h4{margin: 12px auto 2px}
.why p{
    font-size: 14px;
    color: grey;
}
/*why  end */

/* phones  start */
.phones {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}
.phones section{
    width: 100%;
    height: 100%;
    padding: 35px 5%  70px 20%;
}
.phones .bottom {
    bottom:0;
    left:0;
    height: 50%;
    width: 100%;
    z-index: -2;
    background: gold;
    position: absolute;
}
.phones .bottom:before{
    left: 0;
    top: -40%;
    height: 40%;
    width: 15%;
    content: "";
    background: gold;
    position: absolute;
}
.phones:before{
    content: "";
    background: white;
    position: absolute;
    border-radius: 50%;
    width: 60%;
    height: 100%;
    left: 0;
    bottom: 25%;
    z-index: -1;
}
.phones:after{
    z-index: -1;
    right:-18%;
    top:25%;
    width: 70%;
    height: 100%;
    content: "";
    background: gold;
    position: absolute;
    border-radius: 50%;
    transform: rotateZ(-8deg);
}
.phones .text,.phones .img{
    margin-bottom: 20px;
    text-align: right;
    vertical-align: top;
    display: inline-block;
}
.phones .text {
    width: 60%;
    padding-top: 10%;
    text-align: left;

}
.phones .img img{
    z-index: 1;
    height:  400px;
    max-width: 100%;
    display: block;
    transform: scale(1.3);
}
.phones .text >p:first-child{
    font-weight: 600;
    font-size: 19px;
    line-height: 25px;
    color: #000;
}
.phones #more p{
    font-size: 20px;
    color: white;
}
.phones #more{
    position: absolute;
    bottom: 10px;
    left: 20%;}
.phones .app{
    padding:0 10px;
    margin: 10px;
    border-radius: 5px;
    background: white;
    display: inline-block;
    box-shadow: 3px 3px 3px 2px #eee;
}
.phones .text .app p{
    color: black;
    font-size: 16px;
    display: inline-block;
}
.phones .app span{
    color: #bbb;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}
.phones button:last-child{
    display: block;
    font-size: 14px;
    background: #052a43;
    border-radius: 20px;
}
.phones button:last-child:hover{
    background: transparent;
    color: #24246b;
    border: 2px solid #24246b;
}
.phones .fa{
    color: black;
    font-size: 31px;
}
/*phones  end */

/*footer  start */
footer{
    padding: 40px 15%;
    background: #052a43;
}
footer >div{
    display: inline-block;
    vertical-align:top;
    margin:5px ;
    width: 16%;
    color: white;
}
footer >div:not(footer .logo){padding-top: 25px}
footer .contact{width: 22%}
footer .logo{
    width: 30%;
    margin-right: 30px;
    font-size: 15px;
}
footer .logo h2,footer .logo h2 span{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}
footer .logo span{font-size: 10px}
footer h5, footer #copy,footer .logo h2 span{color: gold}
footer a,footer .contact span{
    color: white;
    display: block;
    margin: 4px auto;
    font-size: 15px;
    text-decoration: none;
}
/*footer  end */

/* media */
@media (max-width: 1230px) {
    nav{padding: 5px 12%;}
}
@media (max-width: 1160px) {
    nav{padding: 5px 10%;}
    nav .links a{font-size: 15px}
    .slider .center{width: 70%;}
    .choose{width: 60%}
    .offers{width: 80%;}
    .services{ padding:30px 4% ;}
    .phones:after{
        transform: rotateZ(-10deg);
    }
    .phones .text{width: 55%}
    .phones .img{width: 40%}
    /*.phones #more{margin-top: 50px;}*/
}
@media (max-width: 1050px){
    .register >div:first-child{padding-left: 7%;}
    .register >div:last-child{padding-right: 7%;}
    }
    @media (max-width: 970px) {
    nav{padding: 5px 8%;}
    nav .links{width: 55%}
    nav .links a{
        font-size: 13px;
        margin-right: 2px;
    }
    .slider .center{width: 82%;}
    .offers{width: 80%;}
    .services{ padding:30px 1% ;}
    .services .box{
        margin:15px 2%;
        max-width:35% }
    .register >div:first-child{padding-left: 4%;}
    .register >div:last-child{padding-right: 4%;}
    .phones:after{
        transform: rotateZ(-17deg);
    }
    .phones .text{width: 55%}
    .phones .img{width: 42%}
    .phones .img img{transform: scale(1.1)}
}
@media (max-width: 880px) {
    nav{height: 110px}
    nav .row .join,nav .mid{display: none}
    nav .fa-bars{display: inline-block}
    .slider .center{width: 80%;}
    .choose{width: 70%;}
    .offers{width: 85%;}
    .register >div:first-child{padding-left: 3%;}
    .register >div:last-child{padding-right: 3%;}
    .phones:after{transform: rotateZ(-25deg);}
    .phones section{padding-left: 10%}
    footer >div{margin:10px auto;
        width: 50%;}
    footer .logo{margin-right:18% ;}
}
@media (max-width: 840px) {
    .register >div:first-child,
    .register >div:last-child{padding-right: 1%;}
    .phones:after{transform: rotateZ(-28deg);}
}
@media (max-width: 780px) {
    nav .fa-bars{left: 2%;}
    slider .center{width: 80%;}
    .slider .discount{
        /*transform: scale(1);*/
        margin-left: 16%}
    .offers .box{width: 47%;}
    .register >div{
        padding: 40px 10%;
        width: 100%;
        display: block}
    .register .img{vertical-align: bottom;}
    .register >div:first-child,.register >div:last-child{
        padding-right:10px;
        padding-left: 5%;}
    .phones .img img{
        margin-top: 8px;
        transform: scaleY(0.95)}
    .phones:after{transform: rotateZ(-60deg);}
    footer{padding-right: 5%;}
}
@media (max-width: 735px) {
    nav .info{display: none}
    header a{font-size: 14px}
    .slider .center{width: 86%;}
    .slider .discount{margin-left: 10%}
    .choose h2{font-size: 19px}
    .phones:after{transform: rotateZ(-200deg);}
    .phones .text >p:first-child{font-size: 16px}
    .phones .app{display: block}
    .phones:before{
        bottom: 35%;
        transform: scale(1.25);
        width: 100%}
    .phones:after{content: none;}

    footer >div,footer .logo,footer .contact{
        width: 80%;
        display: block;
        text-align: left;
        margin: auto;

    }
    footer  a{
        margin: 5px 15px 0 5px;
        display: inline-block
    }
}
@media (max-width: 670px) {
    nav{height: auto}
    nav  .last-loc{
        margin-top:-15px;
        margin-bottom: 0;
        display: block}
    nav .logo .loc{display: none}
    nav .fa-bars{top: 9%;}
    nav .logo h1{margin-bottom: 0}
    nav .links
    {
        width: 75%;
        margin:-20px auto 0;
    }
    header a{font-size: 13px}
    .slider .center{width: 90%;}
    .slider .discount{
        transform: scale(0.8) rotateZ(-4deg);
        margin-left: 4%;
    }
    .choose{width: 80%;}
    .choose h2{font-size: 20px}
    .services .box{margin:15px 1%;}
    .why .flex {flex: none;}
    .why .icon{
        font-size: 14px;
        width: 80px;
        height: 80px;}
    .why .icon .fa{font-size: 40px}
    .phones:after{transform: rotateZ(-280deg);}
    .phones .text >p:first-child,.phone #more p{font-size: 15px}
    footer{padding: 40px 10%;}
}
@media (max-width: 580px){
    header {display: none;}
    .slider .discount{
        transform: scale(0.7) rotateZ(-5deg);
        margin-left:0;
    }
    .slider .text p{font-size: 14px}
    .choose{width: 90%;}
    .choose h2{font-size: 18px}
    .choose span{font-size: 13px}
    .offers .box{
        margin: 10px auto;
        float: none;
        width: 70%;
    }
    .why h4{font-size: 13px}
    .phones:after{transform: rotateZ(-300deg);}
    .phones .text >p:first-child{font-size: 14px}
    .phones .img img{
        margin-top: 100px;
        height: 300px}
    .phones #more p{font-size: 15px}
    footer{padding: 40px 8%;}
}
@media (max-width: 555px){
    .services h4{font-size: 15px}
    .services .box span{font-size: 13px}
    .register h3{font-size: 16px}
    .register p{font-size: 15px}
    .phones .bottom{height: 48%}
    footer  a{margin-right: 5px;}
}
@media (max-width: 500px){
    .slider .text{width: 35%}
    .slider .text p{font-weight: normal}
    .choose .icon{
        width: 40px;
        height: 40px;}
    .choose h2{font-size: 16px}
    .choose .fa{font-size: 19px}
    .choose span{font-size: 11px}
    .services .box .img{height: 110px}
    .services h4{
        font-weight: 550;
        font-size: 14px}
    .why h4,.why p{font-size: 12px}
    .phones .app{transform: scale(0.9)}
    footer{padding: 40px 2%;}
    footer  a,footer .contact span{font-size: 14px}
}
